*,
html {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: rgb(219, 219, 219);
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
}

.container {
  width: 900px;
  margin: auto;
  background-color: white;
}

.header {
  padding: 20px;
}

.header .judul {
  font-size: 40px;
}

.header ul li {
  display: inline-block;
  margin-top: 20px;
  margin-right: 15px;
}

.header a {
  text-decoration: none;
  color: red;
  padding: 3px;
}

.header a:hover {
  background-color: lightskyblue;
  color: white;
}

.hero {
  height: 250px;
  background-image: url(Lovina-dolphine-sunrise-trip-call-6287862331691.jpg);
  background-size: cover;
  border-top: 5px solid salmon;
  border-bottom: 5px solid lightskyblue;
}

.content {
  padding: 20px;
}

.content h2 {
  font-size: 20px;
  font-weight: bold;
}

.content .penulis {
  font-size: 11px;
}

.content .penulis a {
  text-decoration: none;
  color: salmon;
}

.content p {
  margin-bottom: 20px;
  font-size: 14px;
  padding: 1px;
}

.footer {
  background-color: #333333;
}

.footer .copy {
  color: #eaeaea;
  text-align: center;
  font-size: 12px;
  padding: 5px;
}

.content .pelayanan {
  margin-top: 20px;
}

.content a {
  color: salmon;
  text-decoration: none;
}

.content ul li {
  list-style: none;
}

.content .contact {
  padding-bottom: 20px;
}

table {
  padding: 5px;
  :3px ;
  font-size: 17px;
}

tr,
td {
  padding-right: 10px;
}

h3 {
  text-align: center;
  padding-bottom: 10px;
}

h3,
a {
  text-decoration: none;
  color: white;
}

.booking {
  border: salmon solid;
  background-color: salmon;
  border-width: 7px;
}

.content img {
  height: 100px;
  float: left;
  padding-right: 8px;
}
.content {
  overflow: auto;
}
